<div id="menubar">
  <div id="menu" class="dropbutton">
    <h1 id="menubutton"><a href="/superadmin/<%= controller.controller_name -%>"><%= controller.controller_name.titleize -%></a></h1>
      <div id="menulist" class="dropbuttonlist">
        <ul>
          <li id="link-dashboard" class="" title="View your dashboard"><%= link_to 'Dashboard', superadmin_root_path -%></li>
          <li id="links_manage_categories" class="submenu first-child" title="Manage Stores">
            <%= link_to 'Stores', [:superadmin, Store.new], :class => "top" -%>
            <ul class="submenu">
              <li id="link_create_store" title="Create New Store" class="first child"><%= link_to 'New', new_superadmin_store_path -%></li>
              <li id="link_manage_stores" title="Manage Stores" class="last child"><%= link_to 'Manage', superadmin_stores_path -%></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  <div id = "storeInfoMenu">
    <div id = "userInfo">logged in as : superadmin (IP address: <%= request.env['REMOTE_ADDR'] -%>)</div>
  </div>
</div>