<ul class="container" id = "pageDetail">
  <li class="pageHeadingBlock">
    <span class = "floatRight marginTop4">
      <%= link_to 'back', admin_pages_path -%> |
      <%= link_to 'edit', [:edit, :admin, @page] -%> |
      <%= link_to 'delete', [:admin, @page], :method => :delete, :confirm => "Deleting Page '#{ h(@page.title) }'\n Are you Sure?" -%>
    </span>
    <h2 class="pageHeading"><%= h(@page.title) -%></h1>
  </li>
  <li style = "margin-top:20px;">
    <span><%= @page.description -%></span>
  </li>
</ul>