<div class="addnewpost item">
  <% form_for([:admin, @post, @comment]) do |f| -%>
    <%= f.error_messages -%>
   	<div class="formRow transparent">
   		<%= f.label :description -%>
   		<%= f.text_area :description, :class => "mceEditor styledFormElement" -%>
   	</div>
    <div class="formRow transparent">
      <%= f.submit @comment.new_record? ? "Create" : 'Update', :class => "button", :style => "margin-left: 5px;" -%>&nbsp; or &nbsp;
      <%= link_to "Cancel", [:admin, @post, Comment.new] -%>
    </div>
  <% end -%>
</div> 