<div class="addnewpost item">
  <% form_for [:admin, @shipping_method] do |f| -%>
    <%= f.error_messages -%>
    <div class="formRow transparent">
   		<%= f.label :name -%>
   		<%= f.text_field :name, :class => "text important styledFormElement" -%>
   	</div>
    <div class="formRow transparent">
      <%= f.label :price -%>
      <%= f.text_field :price, :class => "text important styledFormElement" -%>
    </div>
   	<div class="formRow transparent">
   		<%= f.label :countries -%>
      <%= f.select :store_country_ids, options_for_store_country_select, {}, {:multiple => true , :size=>'10', :class => "text important styledFormElement", :hint => "Press CTR to select multiple countries" } %>
   	</div>
    <div class="formRow transparent">
   		<%= f.label :status -%>
      <%= f.select :status, ShippingMethod.aasm_states_for_select, :class => "text important styledFormElement" -%>
   	</div>
    <div class="formRow transparent">
      <%= f.submit @shipping_method.new_record?  ? "Create":"Update", :class => "button" -%>&nbsp; or &nbsp;
      <%= link_to "Cancel", admin_shipping_methods_path -%>
    </div>
  <% end -%>
</div>