  <div id='loginForm' class="formContainer create">
    <% form_tag admin_sessions_path do -%>
      <div id = "user_name_login">
        <div class="formRow transparent">
          <%= label_tag 'login' %><br />
          <%= text_field_tag 'login', @login, :class => "text important styledFormElement" %>
        </div>
        <div class="formRow transparent">
          <%= label_tag 'password' %><br/>
          <%= password_field_tag 'password', nil, :class => "text important styledFormElement" %>
        </div>
        
      </div>
      <div id = "open_id_login" style = "display:none"s>
        <div class="formRow transparent">
          <%= label_tag "openid_identifier", 'OpenID' %><br/>
          <%= text_field_tag "openid_identifier", nil, :class => "text important styledFormElement" %>
        </div>
      </div>
      <div class="formRow transparent">
        <%= label_tag 'remember_me', 'Remember me' %>
        <%= check_box_tag 'remember_me', '1', @remember_me %>
      </div>
      <div class="formRow transparent">
        <%= label_tag '' %><br/>
        <%= submit_tag 'Sign in', :disable_with => "Signing in&hellip;" %>
      </div>
      <div class="formRow transparent">
        <span id = "user_name_login_link" style = "display:none"><%= link_to_function 'Login using a standard username/password', "Login.loginWithUserName()" -%></span>
        <span id = "open_id_login_link"><%= link_to_function 'Login using an OpenID instead', "Login.loginWithOpenId()" -%></spam>
      </div>
    <% end -%>
  </div>