<div class="addnewpost item">
  <% form_for([:admin, @order]) do |f| -%>
    <%= f.error_messages -%>
    <div style = "overflow:hidden">
      <% f.fields_for :shipping_address do |shipping_address| %>
        <div id = "shippingAddress" class = "address" style = "float:left; width: 45%">
          <%= render :partial => 'admin/orders/address_form', :locals => { :child_form => shipping_address, :address => @order.shipping_address, :source => 'order' } -%>
        </div>
      <% end -%>

      <% f.fields_for :billing_address do |billing_address| %>
        <div id = "billingAddress" class = "address" style = "float:left; width: 45%; margin-left:40px;">
          <%= render :partial => 'admin/orders/address_form', :locals => { :child_form => billing_address, :address => @order.billing_address, :source => 'order' } -%>
        </div>
      <% end -%>
    </div>
    <div class="formRow transparent">
	    <%#= f.label :state -%>
	    <%#= f.select :state, options_for_order_state_select, :class => "text important styledFormElement" -%>
    </div>
    <div class="formRow transparent">
      <%= f.submit "Save!", :class => "button" -%>&nbsp; or &nbsp;
      <%= link_to "Cancel", [:admin, @order] -%>
    </div>
  <% end -%>
</div>