<div class="addnewpost item">
  <% form_for([:admin, @order]) do |f| -%>
    <%= f.error_messages -%>
    <div class="formRow transparent">
	    <%= f.label :total_amount -%>
	    <%= f.text_field :total_amount, :class => "text important styledFormElement" -%>
    </div>
    <div class="formRow transparent">
	    <%= f.label :state -%>
	    <%= f.select :state, options_for_order_state_select, :class => "text important styledFormElement" -%>
    </div>
    <div class="formRow transparent">
      <%= f.submit "Save!", :class => "button" -%>&nbsp; or &nbsp;
      <%= link_to "Cancel", [:admin, @order] -%>
    </div>
  <% end -%>
</div> 