<style>
#orderDetail { }
#orderDetail ul { padding: 20px 0px;}
#orderDetail ul li { padding: 5px; }

</style>
<div class="container" id = "orderDetail">
  <span class = "floatRight marginTop4"><%= link_to 'Back to Orders', [:admin, Order.new] -%></span>
  <h2 class="pageHeading">Order# <%= h @order.number -%></h2>
  <ul>
    <li><span class = "pct30">Number:</span><%= h @order.number -%></li>
    <li><span class = "pct30">Date:</span><%= h order_date(@order.updated_at) -%></li>
  </ul>

  <%= link_to 'back', [:admin, Order.new] %>
  <%= link_to 'delete', [:admin, @order], :method => :delete, :confirm => " Deleting order '#{ @order.number }'\n Are you Sure?" -%>
</div>