<div class="addnewpost item">
  <% form_for([:admin, @product_attribute]) do |f| -%>
    <%= f.error_messages -%>
    <div class="formRow transparent">
   		<%= f.label :name -%>
   		<%= f.text_field :name, :class => "text important styledFormElement" -%>
   	</div>
    <div class="formRow transparent">
      <%= f.submit @product_attribute.new_record? ? "Create" : "Update", :class => "button" -%>&nbsp; or &nbsp;
      <%= link_to "Cancel", [:admin, ProductAttribute.new] -%>
    </div>
  <% end -%>
</div> 