<div id="menubar">
  <div id="menu" class="dropbutton">
	  <h1 id="menubutton"><a href="<%= request.path -%>"><%= controller.controller_name.titleize -%></a></h1>
			<div id="menulist" class="dropbuttonlist">
				<ul>
				<li id="link-dashboard" class="" title="View your user dashboard"><%= link_to 'Dashboard', admin_dashboard_index_path -%></li>				  
  			<li id="link-create" class="submenu first-child" title="Create content">
  			  <%= link_to 'New', new_admin_post_path, :class => "top" -%>
  				<ul class="submenu">
	  				<li id="link-create_1" title="Create a new Post" class="sub hotkey-1 first-child"><%= link_to 'Post', new_admin_post_path -%></li>
						<li id="link-create_2" title="Create a new Page" class="sub hotkey-2 last-child"><%= link_to 'Page', new_admin_page_path -%></li></li>
		  		 </ul>
				</li>
				<li id="link-manage" class="submenu" title="Manage content">
				  <%= link_to 'Manage', admin_posts_path, :class => "top" -%>
  				<ul class="submenu">
  					<li id="link-manage_1" title="Manage Entry" class="sub hotkey-1 first-child"><%= link_to 'Posts', admin_posts_path -%></li>
  					<li id="link-manage_2" title="Manage Page" class="sub hotkey-2 last-child"><%= link_to 'Pages', admin_pages_path -%></li>
  			  </ul>
				</li>
				<li id="link-comments" class="" title="Manage blog comments"><%= link_to 'Comments', admin_comments_path -%></li>
				<li id="link-pages" class="" title="View and Manage Pages"><%= link_to 'Pages', admin_pages_path -%></li>
		  	<li id="link-users" class="selected" title="View and manage users"><%= link_to 'Users', admin_users_path -%></li>
				<li id="link-tags" class="" title="blog tags"><%= link_to 'Tags', admin_posts_path -%></li>
				<li id="link-logs" class="" title="View system log messages"><%= link_to 'Logs', "#" -%></li>
				<li id="link-logout" class="last-child" title="Log out of the administration interface"><%= link_to 'Logout<span class="hotkey enabled">X</span>', "#" -%></li>
			</ul>
		</div>
	</div>
	<a href="/admin" id="site" title="Go to Site">My Blog</a>
</div>