<div class="topNav">
  <ul>
    <% if logged_in? %>
      <li class="last"><%= link_to 'Login', login_path, :title => 'Click Here to Login' -%></li>
      <li><%= link_to 'New Account', signup_path, :title => 'Click Here to Signup' -%></li>
    <% else %>
      <li class="last"><%= link_to 'Logout', logout_path, :title => 'Click Here to Logout', :method => :destroy -%></li>
      <li><%= link_to 'My Account', "#", :title => 'My Account' -%></li>
    <% end %>
    <li><%= link_to "Home", root_path -%></li>
  </ul>
</div>