<div class="topNav">
  <ul>
    <% unless logged_in? %>
      <li class="last"><%= link_to 'Login', login_path, :title => 'Click Here to Login' -%></li>
      <li><%= link_to 'New Account', signup_path, :title => 'Click Here to Signup' -%></li>
    <% else %>
      <li class="last"><%= link_to 'Logout', logout_path, :title => 'Click Here to Logout' -%></li>
      <li><%= link_to 'Admin Panel', admin_root_path, :title => 'Admin Panel' if current_user.has_role?('admin') -%></li>
      <li><%= link_to 'My Account', "#", :title => 'My Account' -%></li>
    <% end %>
    <li><%= link_to "Home", root_path -%></li>
    <li>
      <% unless cart_page -%>
        <%= image_tag 'indicator.gif', :class => 'progressIndicator', :id => "miniCartLoadingIndicator", :style => "display:none; float:left;" -%>
        <%= link_to_remote get_cart_items, :url => cart_path, :method => :get, :loading => "showSpinner('#miniCartLoadingIndicator')", :complete => "hideSpinner('#miniCartLoadingIndicator')", :html => { :id => "loadMiniCart" } -%>
      <% else %>
        <%= get_cart_items -%>
      <% end %>
    </li>
  </ul>
</div>