<div class="editStore item">
  <% form_for @store, :url => [:admin, Store.new], :html => {:multipart => true } do |f| -%>
    <%= f.error_messages -%>
    <div class="formRow transparent">
      <%= f.label :domain -%>
      <%= f.text_field :domain, :class => "text important styledFormElement", :hint => "eg: enter <b>example.com</b> for http://example.com" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :display_name -%>
      <%= f.text_field :display_name, :class => "text important styledFormElement" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :email -%>
      <%= f.text_field :email, :class => "text important styledFormElement" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :product_selection_option -%>
      <%= f.select :product_selection_option, options_for_product_selection_option, { :hint => "Product Selection Option at Add to Cart page" }, { :class => "text styledFormElement" } -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :auto_capture -%>
      <%= f.check_box :auto_capture, { :class => "text styledFormElement", :hint => "Checked/Unchecked will capture/authorize credit card respectively."} -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :address -%>
      <%= f.text_area :address, :class => "mceNoEditor styledFormElement height50px" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :description -%>
      <%= f.text_area :description, :class => "mceNoEditor styledFormElement height50px" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :toll_free_number -%>
      <%= f.text_field :toll_free_number, :class => "text important styledFormElement" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :google_analytics_account -%>
      <%= f.text_field :google_analytics_account, :class => "text important styledFormElement", :hint => "UA-xxxx-x" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :add_this_username -%>
      <%= f.text_field :add_this_username, :class => "text important styledFormElement", :hint => "With a free AddThis account, you can find out which of your pages and which destinations are the most popular with your users. #{ link_to 'Click Here', 'http://www.addthis.com/register', :popup => true }  to create a AddThis account" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :meta_title -%>
      <%= f.text_field :meta_title, :class => "text important styledFormElement" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :meta_description -%>
      <%= f.text_field :meta_description, :class => "mceNoEditor text styledFormElement height50px" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :meta_keywords -%>
      <%= f.text_field :meta_keywords, :class => "mceNoEditor text styledFormElement height50px" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :active -%>
      <%= f.select :active, options_for_status, {}, {:onchange => "toggle_disable_message(this)", :class => "text styledFormElement"} -%>
    </div>
    <div id = "storeDisableMessage" class="formRow transparent" style = "display:<%= 'none' if @store.active -%>">
      <%= f.label :disable_message -%>
      <%= f.text_area :disable_message, :class => "styledFormElement height50px" -%>
    </div>
    <div class="formFields transparent">
      <%= f.label :logo_image -%>
      <%= file_field :store, :logo_attributes, :class => "styledFormElement fileField", :size => "31px" -%>
      <%= image_tag(@store.logo.public_filename(:small)) if @store.logo -%>
    </div>
    <div class="formFields transparent">
      <%= f.label :favicon_icon -%>
      <%= file_field :store, :favicon_icon_attributes, :class => "styledFormElement fileField", :size => "31px" -%>
      <%= image_tag(@store.favicon_icon.public_filename, :size => "100x20") if @store.favicon_icon -%>
    </div>
    <div class="formRow transparent">
      <%= f.submit "Save!", :class => "button", :style => "margin-left: 5px;"  -%>&nbsp; or &nbsp;
      <%= link_to "Cancel", admin_stores_path -%>
    </div>
  <% end -%>
</div>