<div class="container">
  <h1 class="postHeading">Configurations</h1>
</div>
<div class="container">
  <div class="table">
    <div class = "tableHeader">
      <span class = "pct5">&nbsp;</span>
      <span class = "pct20 textAlignLeft">system</span>
      <span class = "pct70  textAlignLeft">description</span>
      <span class = "pct5  textAlignCenter">-</span>
    </div>
    <div class = "tableRow odd">
      <span class = "pct5">&nbsp;</span>
      <span class = "pct20"><%= link_to "General Settings", edit_admin_stores_path -%></span>
      <span class = "pct70">Configure general settings for your store.</span>
      <span class = "pct5  textAlignCenter"><%= link_to(image_tag("admin/iconEdit.png", :alt => "edit"), edit_admin_stores_path) -%></span>
    </div>
    <div class = "tableRow even">
      <span class = "pct5">&nbsp;</span>
      <span class = "pct20"><%= link_to "Mail Server Settings", edit_admin_mail_settings_path -%></span>
      <span class = "pct70">Configure email server settings.</span>
      <span class = "pct5  textAlignCenter"><%= link_to(image_tag("admin/iconEdit.png", :alt => "edit"), edit_admin_mail_settings_path) -%></span>
    </div>
    <div class = "tableRow even">
      <span class = "pct5">&nbsp;</span>
      <span class = "pct20"> <%= link_to "Gateway", admin_gateways_path %></span>
      <span class = "pct70">Select a payment gateway and configure its settings.</span>
      <span class = "pct5  textAlignCenter"><%= link_to(image_tag("admin/iconEdit.png", :alt => "edit"), admin_gateways_path) -%></span>
    </div>
    <div class = "tableRow odd">
      <span class = "pct5">&nbsp;</span>
      <span class = "pct20"><%= link_to "Shipping Methods", admin_shipping_methods_path -%></span>
      <span class = "pct70">Manage shipping methods</span>
      <span class = "pct5  textAlignCenter"><%= link_to(image_tag("admin/iconEdit.png", :alt => "edit"), admin_shipping_methods_path) -%></span>
    </div>
    <div class = "tableRow odd">
      <span class = "pct5">&nbsp;</span>
      <span class = "pct20"><%= link_to "Tax Settings", "#" %></span>
      <span class = "pct70">Tax rates setup and configuration.</span>
      <span class = "pct5  textAlignCenter"><%= link_to(image_tag("admin/iconEdit.png", :alt => "edit"), edit_admin_stores_path) -%></span>
    </div>
    <div class = "tableRow odd">
      <span class = "pct5">&nbsp;</span>
      <span class = "pct20"><%= link_to "Store Countries", admin_store_countries_path -%></span>
      <span class = "pct70">Manage Store Countries.</span>
      <span class = "pct5  textAlignCenter"><%= link_to(image_tag("admin/iconEdit.png", :alt => "edit"), admin_store_countries_path) -%></span>
    </div>
  </div>
</div>