<div class="formRow">
	<%= f.label :first_name -%>
	<%= f.text_field :first_name, :class => "formField fieldWidth" -%>
</div>
<div class="formRow">
	<%= f.label :last_name -%>
	<%= f.text_field :last_name, :class => "formField fieldWidth" -%>
</div>
<div class="formRow">
	<%= f.label :email -%>
	<%= f.text_field :email, :class => "formField fieldWidth" -%>
</div>
<div class="formRow">
	<%= f.label :company -%>
	<%= f.text_field :company, :class => "formField fieldWidth" -%>
</div>
<div class="formRow">
	<%= f.label :street1 -%> 
	<%= f.text_area :street1, :class => "formField fieldWidth fieldHeight" -%>
</div>
<div class="formRow">
	<%= f.label :street2 -%> 
	<%= f.text_area :street2, :class => "formField fieldWidth fieldHeight" -%>
</div>
<div class="formRow">
	<%= f.label :city -%>
	<%= f.text_field :city, :class => "formField fieldWidth" -%>
</div>
<div class="formRow">
	<%= f.label :country -%>
  <% if address.is_a?(ShippingAddress) %>
	  <%= f.select :country, options_for_shipping_country_select, {}, {:class => "formField fieldWidth"} -%>
  <% else -%>
	  <%= f.select :country, options_for_billing_country_select, {}, {:class => "formField fieldWidth"} -%>
  <% end -%>
</div>
<%= observe_field  address.type.underscore + '_country', :frequency => 0.5, :update => get_address_state_dom_id(address), :url => {:action=> 'get_state_options', :only_path => false }, :with => "'country=' + encodeURIComponent(value) + '&address_type=' + '#{ address.type.underscore }'" %>
<div class="formRow">
<%= f.label :state %>
<span id ="<%= get_address_state_dom_id(address) -%>">
  <%= render :partial => "state_options", :locals => {:country => address.country, :state => address.state, :object => address.type.underscore } %>
</span>
</div>
<div class="formRow">
	<%= f.label :zipcode -%>
	<%= f.text_field :zipcode, :class => "formField fieldWidth" -%>
</div>
<div class="formRow">
	<%= f.label :phone -%>
	<%= f.text_field :phone, :class => "formField fieldWidth" -%>
</div>
<div class="formRow">
	<%= f.label :fax -%>
	<%= f.text_field :fax, :class => "formField fieldWidth" -%>
</div>
