<h3>Hi {{ billing_address.full_name }}</h3>

<h4>You have placed an order at {{ store.domain }} on {{ order.created_at | date: " %b %d, %Y" }} for the following items </h4>

<p><strong>Your Order #:</strong> {{ order.number }}</p>

<h3>Order Details</h3>
<table width="70%" border = "1px" cellspacing = 0>
  <tr style="font-size:0.95em; color:#00681C; font-weight:bold; height:21px; text-align: center">
    <td style="width: 10%">Item</td>
		<td style="width: 30%; text-align: left">Name</td>
    <td style="width: 20%">Quantity</td>
    <td style="width: 20%">Unit Price</td>
    <td style="width: 20%" align = "right">Total</td>
  </tr>
	{% for line_item in order.line_items %}
		<tr style="text-align: center">
	  <td style="width: 10%">{{ line_item.sku_number }}</td>
		<td style="width: 30%" align = "left">{{ line_item.sku_display_name }}</td>
	  <td style="width: 20%">{{ line_item.quantity }}</td>
	  <td style="width: 20%">{{ line_item.unit_price }}</td>
	  <td style="width: 20%" align = "right">{{ line_item.price }}</td>
	</tr>
	{% endfor %}
	<tr style="font-size:0.95em; color:#00681C; font-weight:bold; height:21px; text-align: center">
    <td style="width: 20%" colspan = '5' align = "right">&nbsp;</td>
  </tr>
	<tr style="font-size:0.95em; color:#00681C; font-weight:bold; height:21px; text-align: center">
    <td style="width: 20%" colspan = '4' align = "right">Shipping Amount</td>
		<td style="width: 20%" align = "right">{{ order.shipping_amount }}</td>
  </tr>
	<tr style="font-size:0.95em; color:#00681C; font-weight:bold; height:21px; text-align: center">
    <td style="width: 20%" colspan = '4' align = "right">Tax Amount</td>
		<td style="width: 20%" align = "right">{{ order.tax_amount }}</td>
  </tr>
	<tr style="font-size:0.95em; color:#00681C; font-weight:bold; height:21px; text-align: center">
    <td style="width: 20%" colspan = '4' align = "right">Handling Amount</td>
		<td style="width: 20%" align = "right">{{ order.handling_amount }}</td>
  </tr>
	<tr style="font-size:0.95em; color:#00681C; font-weight:bold; height:21px; text-align: center">
    <td style="width: 20%" colspan = '4' align = "right">Total Amount</td>
		<td style="width: 20%" align = "right">{{ order.total_amount }}</td>
  </tr>
</table>
<br/>
<table width = "60%">
	<tr>
		<td><h3>Billing details</h3></td>
		<td><h3>Shipping details</h3></td>
	</tr>
	<tr>
		<td>
			Name: {{ billing_address.full_name }}<br/>
			Email: {{ billing_address.email }}<br/>
			Phone: {{ billing_address.phone }}<br/>
			Address: {{ billing_address.address }}<br/>
			City: {{ billing_address.city }}<br/>
			State: {{ billing_address.state }}<br/>
			Country: {{ billing_address.country }}<br/>
			Zip Code: {{ billing_address.zipcode }}<br/><br/>
		</td>
		<td>
			Name: {{ shipping_address.full_name }}<br/>
			Email: {{ shipping_address.email }}<br/>
			Phone: {{ shipping_address.phone }}<br/>
			Address: {{ shipping_address.street1 }} {{ shipping_address.street2 }}<br/>
			City: {{ shipping_address.city }}<br/>
			State: {{ shipping_address.state }}<br/>
			Country: {{ shipping_address.country }}<br/>
			Zip Code: {{ shipping_address.zipcode }}<br/><br/>
		</td>
	</tr>
</table>

<div style = "padding: 5px 0px">
  <div style = "padding: 5px 0px"><strong>Shipping Method:</strong> {{ order.shipping_method_name }}</div>
</div>


<p>To track the status of your order visit the <a href='{{ order_status_url }}' title = "click here to check status of your order">Order Status page</a> or <a href="{{ login_url }}" title = "click here to login">login</a> to your account control panel.</p>

<div style = "padding: 20px 0px;">
  Thanks,<br/>
  {{ store.display_name }}
</div>
