<h3>Hi {{ billing_address.full_name }}</h3>

<p>Your <strong>Order #: {{ order.number }}</strong> placed at {{ store.domain }} could not be processed for the following reasons</p>
<p>{{ order.comment }}</p>

Thanks,<br/>
{{ store.display_name }}