<h3>Hi {{ billing_address.full_name }}</h3>
<p style = "padding: 5px 0px">Your <strong>Order #: {{ order.number }} </strong> placed at {{ store.domain }} have been shipped to the following address.</p>

<table width = "60%">
	<tr>
		<td><strong>Customer Shipping detail</strong></td>
	</tr>
	<tr>
		<td>
			Name: {{ shipping_address.full_name }}<br/>
			Email: {{ shipping_address.email }}<br/>
			Phone: {{ shipping_address.phone }}<br/>
			Address: {{ shipping_address.street1 }} {{ shipping_address.street2 }}<br/>
			City: {{ shipping_address.city }}<br/>
			State: {{ shipping_address.state }}<br/>
			Country: {{ shipping_address.country }}<br/>
			Zip Code: {{ shipping_address.zipcode }}<br/><br/>
		</td>
	</tr>
</table>

<div style = "padding: 5px 0px">
  <div style = "padding: 5px 0px"><strong>Shipping Method:</strong> {{ order.shipping_method_name }}</div>
  <div style = "padding: 5px 0px"><strong>Tracking Number:</strong> {{ order.tracking_number }}</div>
</div>

Thanks,<br/>
{{ store.display_name }}