<ul class="container" id = "pageDetail">
  <li class="pageHeadingBlock">
    <span class = "floatRight marginTop4">
      <%= link_to 'back', admin_posts_path -%> |
      <%= link_to 'edit', [:edit, :admin, @post] -%> |
      <%= link_to 'delete', [:admin, @post], :method => :delete, :confirm => "Deleting Post '#{ h(@post.title) }'\n Are you Sure?" -%>
    </span>
    <h2 class="pageHeading"><%= h(@post.title) -%></h1>
  </li>
  <li style = "margin-top:20px;">
    <span><%= @post.description -%></span>
  </li>
</ul>