<% form_for :cart_item, :url => cart_path, :html => { :method => 'put' } do |f| -%>
	<div class = "buttons">
    <%= link_to 'Continue Shopping', get_url_to_continue_shopping, :class => "linkButton continueButton", :rel => "nofollow", :title => "Continue Shopping" -%>
    <%= f.submit 'Update', :class => 'submitButton updateButton', :title => "Update Cart" -%></span>
  </div>
  <div id = "cartItems" class = "cart">
    <%= render 'item_header' -%>
    <%= render :partial => 'item', :collection => @cart.cart_items -%>
  </div>
  <div class = "buttons">
    <%= link_to 'Empty', empty_cart_path, :method => :delete, :confirm => "Are you sure you want to empty your cart?" , :class => "emptyCart linkButton", :rel => "nofollow", :title => "Continue Shopping" -%>
    <%= link_to 'Continue shopping', get_url_to_continue_shopping , :class => "linkButton continueButton", :rel => "nofollow", :title => "Continue Shopping" -%>
    <%= f.submit 'Update', :class => 'submitButton updateButton', :title => "Update Cart" -%>
	</div>
<% end -%>