<h3>Hi {{ billing_address.full_name }}</h3>

<p>Your <strong>Order #: {{ order.number }}</strong> placed at {{ store.domain }} have been sent for proccessing</p>
<p>To track the status of your order visit the <a href='{{ order_status_url }}' title = "click here to check status of your order">Order Status page</a> or <a href="{{ login_url }}" title = "click here to login">login</a> to your account control panel.</p>

Thanks,<br/>
{{ store.display_name }}