<h3>Hi {{ order.billing_address.full_name }}</h3>

<h4>Your order(<strong>Order ID:</strong> {{ order.order_id }}) placed at {{ order.store.domain }} could not be processed for the following reasons</h4><br/>
<p>{{ order.comment }}</p>


Thanks<br/>
{{ order.store.domain }}