<h3>Hi {{ order.billing_address.full_name }}</h3>

<h4>Your order(<strong>Order ID:</strong> {{ order.order_id }}) placed at {{ order.store.domain }} have been shipped to following address</h4><br/>

<table width = "60%">
	<tr>
		<td><h3>Customer Shipping details</h3></td>
	</tr>
	<tr>
		<td>
			Name: {{ order.shipping_address.full_name }}<br/>
			Email: {{ order.shipping_address.email }}<br/>
			Phone: {{ order.shipping_address.phone }}<br/>
			Shipping Address: {{ order.shipping_address.address }}<br/>
			City: {{ order.shipping_address.city }}<br/>
			State: {{ order.shipping_address.state }}<br/>
			Country: {{ order.shipping_address.country }}<br/>
			Zip Code: {{ order.shipping_address.zip_code }}<br/><br/>
		</td>
	</tr>
</table><br/><br/>


<h3>Shipping Method</h3>
{{ order.shipping_method_name }}<br/><br/>


<h3>Tracking Number</h3>
{{ order.tracking_number }}<br/><br/>



Thanks<br/>
{{ order.store.domain }}