  <div class="container post">
  <span class = "floatRight marginTop4"><%= link_to 'Back to Orders', admin_orders_path -%></span>
  <h2 class="pageHeading">Edit Order</h2>
  <div id='editOrderForm' class="formContainer create">
    <div class="addnewpost item">
      <% form_for @shipment, :url => admin_order_shipments_path(@order) do |f| -%>
        <%= f.error_messages -%>
        <% f.fields_for :shipping_address do |child_form| %>
          <div id = "shippingAddress" class = "address">
            <%= render :partial => 'admin/orders/address_form', :locals => { :child_form => child_form, :address => @shipment.shipping_address, :source => 'shipment' } -%>
          </div>
        <% end -%>
        <div class="formRow transparent">
    	    <%= f.label :tracking_number -%>
    	    <%= f.text_field :tracking_number, :class => "text important styledFormElement" -%>
        </div>
<!--
        <div class="formRow transparent">
          <%#= f.label :shipping_method_id -%>
          <%#= f.select :shipping_method_id, select_options_for_shipping_method, { :include_blank => 'Select Payment Type' }, :class => "text important styledFormElement" -%>
        </div>
-->
        <div class="formRow transparent">
          <%= f.submit "Save!", :class => "button" -%>&nbsp; or &nbsp;
          <%= link_to "Cancel", admin_orders_path -%>
        </div>
      <% end -%>
    </div>
  </div>
</div>