<div id = "currencies">
  <% if @currencies.size > 0 -%>
    <% paginated_section @currencies, :class => "pagination", :renderer => RemoteLinkRenderer do %>
    <span class="pageLoadingIndicator" id = "pageLoadingIndicator" style = "display:none"><%= image_tag("/images/admin/indicator.gif", {:alt => "progressIndicator", :size => "15x15"}) -%></span>  
      <div class="table">
        <div class = "tableHeader">
          <span class = "pct10">Sr. NO.</span>
          <span class = "pct20 textAlignLeft">Name</span>
          <span class = "pct10">Symbol</span>
          <span class = "pct10">Precision</span>
          <span class = "pct10">Delimiter</span>
          <span class = "pct10">Separator</span>
          <span class = "pct20">State</span>
          <span class = "pct10">-</span>
        </div>
        <% @currencies.each_with_index do |currency, index| -%>
          <% div_for currency, :class => "tableRow #{cycle('odd', 'even')}" do -%>
            <span class = "pct10 textAlignCenter"><%= index + 1 -%></span>
            <span class = "pct20"><%= h(currency.name) -%></span>
            <span class = "pct10 textAlignCenter"><%= h(currency.symbol) -%></span>
            <span class = "pct10 textAlignCenter"><%= h(currency.precision) -%></span>
            <span class = "pct10 textAlignCenter"><%= h(currency.delimiter) -%></span>
            <span class = "pct10 textAlignCenter"><%= h(currency.separator) -%></span>
            <span class = "pct20 textAlignCenter"><%= h(currency.state) -%></span>
            <span class = "pct10 textAlignCenter">
              <%= link_to(image_tag("admin/iconEdit.png", :alt => "edit"), [:edit, :admin, currency], :title => "Edit") -%>
              <%= link_to(image_tag("admin/iconDelete.png", :alt => "X"), [:admin, currency], :title => "Delete", :method => :delete, :confirm => "Deleting currency '#{ currency.name }'\n Are you Sure?") -%>
              <%= link_to('activate', admin_currency_path(currency, :state => 'active'), :method => :put, :title => "Activate") unless currency.active? -%>
            </span>
          <% end -%>
        <% end -%>
      </div>
    <% end %>
  <% else %>
    <div class = "noRecords">There are no currencies</div>     
  <% end -%>
</div>