<div class="addnewpost item">
  <% form_for([:admin, @currency]) do |f| -%>
    <%= f.error_messages -%>
    <div class="formRow transparent">
      <%= f.label :name -%>
      <%= f.text_field :name, :class => "text important styledFormElement fieldWidth" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :symbol -%>
      <%= f.text_field :symbol, :class => "text important styledFormElement fieldWidth" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :rate -%>
      <%= f.text_field :rate, :class => "text important styledFormElement fieldWidth" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :precision -%>
      <%= f.text_field :precision, :class => "text important styledFormElement fieldWidth" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :delimiter -%>
      <%= f.text_field :delimiter, :class => "text important styledFormElement fieldWidth" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :separator -%>
      <%= f.text_field :separator, :class => "text important styledFormElement fieldWidth" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :country -%>
      <%= f.select :country, options_for_currency_country_select, {}, :class => "text important styledFormElement fieldWidth" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :format -%>
      <%= f.text_field :format, :class => "text important styledFormElement fieldWidth" -%>
    </div>
    <div class="formRow transparent">
      <%= f.label :state -%>
      <%= f.select :state, Currency.aasm_states_for_select, {}, :class => "text important styledFormElement fieldWidth" -%>
    </div>
    <div class="formRow transparent">
      <%= f.submit @currency.new_record? ? "Create" : "Update", :class => "button" -%>&nbsp; or &nbsp;
      <%= link_to "Cancel", [:admin, Currency.new] -%>
    </div>
  <% end -%>
</div> 