<div class="addnewpost item">
  <% form_for([:admin, @category], :html => { :multipart => true }) do |f| -%>
    <%= f.error_messages -%>
    <div class="formRow transparent">
   		<%= f.label :title -%>
   		<%= f.text_field :title, :class => "text important styledFormElement" -%>
   	</div>
   	<div class="formRow transparent">
   		<%= f.label :permalink -%>
   		<%= f.text_field :permalink, :class => "text important styledFormElement" -%>
   	</div>
   	<div class="formRow transparent">
   		<%= f.label :description -%>
   		<%= f.text_area :description, :class => "mceEditor styledFormElement" -%>
   	</div>
    <div class="formRow transparent">
   		<%= f.label :meta_title -%>
   		<%= f.text_field :meta_title, :class => "text important styledFormElement" -%>
   	</div>
   	<div class="formRow transparent">
   		<%= f.label :meta_description -%>
   		<%= f.text_area :meta_description, :class => "mceNoEditor styledFormElement height50px" -%>
   	</div>
   	<div class="formRow transparent">
   		<%= f.label :meta_keywords -%>
   		<%= f.text_area :meta_keywords, :class => "mceNoEditor styledFormElement height50px" -%>
   	</div>
    <div class="formRow transparent">
   		<%= f.label :parent, 'Parent Category' -%>
   		<%= select_tag :category_parent, category_options_for_select, :class => "styledFormElement" -%>
   	</div>
    <%= render :partial => 'admin/images/images', :locals => {:attachable => @category, :prefix => 'category' } %>
    <div class="formRow transparent">
      <%= f.submit @category.new_record? ? "Create" : "Update", :class => "button" -%>&nbsp; or &nbsp;
      <%= link_to "Cancel", admin_categories_path -%>
    </div>
  <% end -%>
</div>