<ul class="container" id = "pageDetail">
  <li class="pageHeadingBlock">
    <span class = "floatRight marginTop4">
      <%= link_to 'back', admin_categories_path -%> |
      <%= link_to 'edit', [:edit, :admin, @category] -%> |
      <%= link_to 'delete', [:admin, @category], :method => :delete, :confirm => "Deleting Category '#{ h(@category.title) }'\n Are you Sure?" -%>
    </span>
    <h2 class="pageHeading"><%= h(@category.title) -%></h1>
  </li>
  <li>
    <% @category.images.each_with_index do |image, index| -%>
      <%= link_to(image_tag(image.public_filename(:S25x25)), image.public_filename(:S550x440), :rel => "category-image", :title => "Image ##{ index + 1 }") -%>
    <% end -%>
  </li>
  <li style = "margin-top:20px;">
    <span><%= @category.description -%></span>
  </li>
  <li>
    <ol>
      <% @category.products.each do |product| -%>
        <li><%= link_to h(product.name), [:admin, product] -%></li>
      <% end -%>
    </ol>
  </li>
</ul>