<ul class="container" id = "pageDetail">
  <li class="pageHeadingBlock">
    <span class = "floatRight marginTop4">
      <%= link_to 'back', admin_products_path -%> |
      <%= link_to 'edit', [:edit, :admin, @product] -%> |
      <%= link_to 'delete', [:admin, @product], :method => :delete, :confirm => "Deleting Product '#{ h(@product.name) }'\n Are you Sure?" -%> |
      <%= link_to 'skus', admin_product_skus_path(@product) -%>
    </span>
    <h2 class="pageHeading"><%= h(@product.name) -%></h1>
  </li>
  <li>
    <span class = "pct15">Product ID</span>:
    <span class = ""><%= h(@product.product_id) -%></span>
  </li>
  <li>
    <span class = "pct15">Price</span>:
    <span class = ""><%= number_to_currency(@product.price) -%></span>
  </li>
  <li>
    <span class = "pct15">Discount</span>:
    <span class = ""><%= number_to_currency(@product.discount) -%></span>
  </li>
  <li>
    <span class = "pct15">Handling Fee</span>:
    <span class = ""><%= number_to_currency(@product.handling_fee) -%></span>
  </li>
  <li>
    <span class = "pct15">Brand</span>:
    <span class = ""><%= link_to h(@product.brand_name), [:admin, @product.brand] -%></span>
  </li>
  <li>
    <% @product.images.each_with_index do |image, index| -%>
      <%= link_to(image_tag(image.public_filename(:S25x25)), image.public_filename(:S550x440), :rel => "product-image", :title => "Image ##{ index + 1 }") -%>
    <% end -%>
  </li>
  <li style = "margin-top:20px;">
    <span><%= @product.description -%></span>
  </li>
</ul>