<% content_tag_for :ul, @post do -%>
  <li class = 'clear'>
    <div class="postDate">
      <%= @post.published_at.day -%>
      <div> <%= @post.published_at.strftime("%b") -%></div>
    </div>
    <h1 class = "postTitle"><%= link_to h(@post.title), @post, :title => h(@post.title) -%></h2>
    <div class = "postAuthor">
      by <%= @post.owner.login -%> | <%= link_to pluralize(@post.comments.size, 'Comment'), @post -%>
    </div>
  </li>
  <li><h1 class = "postTitle"><%=link_to h(@post.title), @post %></h2></li>
  <li class = "postDescription"><%= simple_format @post.description -%></li>
  <li class = "postTags">Tags: <%= render :partial => 'tags', :locals => { :post => @post } -%></li>
<% end %>
<div id = "comments">
  <h2>Comments</h2><div><%= link_to 'Leave a Comment', "#newCommentForm" -%></div>
  <%= render :partial =>  @post.comments -%>
</div>
<div id = "newComment">
  <%= render :partial => 'comments/form' -%>
</div>
