<% @user.password = @user.password_confirmation = nil %>
<% form_for [:admin, @user] do |f| -%>
  <%= f.error_messages -%>
  <div class="formRow transparent">
    <%= f.label :login -%><br/>
    <%= f.text_field :login, :class => "text important styledFormElement" -%>
  </div>
  <div class="formRow transparent">
    <%= f.label :name -%><br/>
    <%= f.text_field :name, :class => "text important styledFormElement" -%>
  </div>
  <div class="formRow transparent">
    <%= f.label :email -%><br/>
    <%= f.text_field :email, :class => "text important styledFormElement" -%>
  </div>
  <div class="formRow transparent">
    <%= f.label :password -%><br/>
    <%= f.password_field :password, :class => "text important styledFormElement" -%>
  </div>
  <div class="formRow transparent">
    <%= f.label :password_confirmation, 'Confirm Password' -%><br/>
    <%= f.password_field :password_confirmation, :class => "text important styledFormElement" -%>
  </div>
  <div class="formRow transparent">
    <%= f.submit 'Save!' -%> or <%= link_to 'Cancel', [:admin, User.new] -%>
  </div>
<% end -%>