<%= javascript_tag "$(document).ready(function() { $('li.productOtherImage a').fancybox(); });" %>
<h1>Product Detail</h1>
<style>

</style>
<div id="product">
  <h2 class = "productName"><%= link_to h(truncate(@product.name.titleize, :length => 30)), @product -%></h2>
  <div id = "productLeft">
    <div id = "productMainImage"><%= link_to main_image(@product, :S280x280), @product -%></div>
    <% if @product.images.size > 0 -%>
      <div class = "productOtherImages">
        <h3>click to enlarge</h3>
        <ul id = "productOtherImages" class = 'productOtherImages'>
        <% for product_image in @product.images -%>
          <li class = "productOtherImage" id = "productOtherImage_<%= product_image.id -%>">
            <%= link_to(image_tag(product_image.public_filename(:S25x25)), product_image.public_filename(:S550x440), :rel => "product-image", :title => "#{ product_image.filename }") -%>
          </li>
        <% end -%>
        </ul>
      </div>
    <% end -%>
  </div>
  <div id = "productRight">
    <div class = "productDescription"><%= @product.description -%></div>
    <div class = "productOurPrice">Our Price: <%= number_to_currency(@product.our_price) -%></div>
    <div class = "productOriginalPrice">Original Price: <%= number_to_currency(@product.price) -%></div>
    <div class = "productSavedPrice">You Saved: <%= number_to_currency(@product.discount) -%> (<%= number_to_percentage(@product.percent_discount) -%>)</div>
    <div>
      <% form_for :cart, :url => cart_path do |f| -%>
        <% if true -%>
        <!-- replace this block with select boxes -->
          <% for sku in @product.skus -%>
            <div class= "attribute_values"><%= radio_button_tag :item_id, sku.id -%> <%= get_attribute_values(sku) -%></div>
          <% end -%>
        <!-- replace this block with select boxes -->
        <% else -%>
          <% for sku in @product.skus -%>
            <div class= "attribute_values"><%= radio_button_tag :item_id, sku.id -%> <%= get_attribute_values(sku) -%></div>
          <% end -%>
        <% end -%>
        <%= text_field_tag :item_qty, 1, :class => "qtyField" -%>
        <%= f.submit 'Add to Cart' -%>
      <% end %>
    </div>
  </div>
  <% if @product.respond_to?(:recommended_products) -%>
  Recommended products list
  <% for product in @product.recommended_products -%>
    <% content_tag_for :ul, product do -%>
    	<li class = "productImage"><%= link_to main_image(product, :S160x160), product -%></li>
      <li class = "productName"><%= link_to h(truncate(product.name.titleize, :length => 30)), product -%></li>
      <li class = "productOurPrice">Our Price: <%= number_to_currency(product.our_price) -%></li>
    <% end -%>
  <% end -%>
  <% end %>
</div>