<div id="menubar">
  <div id="menu" class="dropbutton">
    <h1 id="menubutton"><a href="/admin/<%= controller.controller_name -%>"><%= controller.controller_name.titleize -%></a></h1>
      <div id="menulist" class="dropbuttonlist">
        <ul>
          <li id="link-dashboard" class="" title="View your user dashboard"><%= link_to 'Dashboard', admin_root_path -%></li>
          <li id="links_store_configuration" class="submenu first-child" title="Configuration">
            <%= link_to 'Configuration', [:edit, :admin, Store.new], :class => "top" -%>
            <ul class="submenu">
              <li id="link_general_settings" title="General Settings" class="first child"><%= link_to 'General Settings', [:edit, :admin, Store.new] -%></li>
              <li id="link_mail_server_settings" title="Mail Server Settings" class="child"><%= link_to 'Mail Server Settings', [:edit, :admin, MailSetting.new] -%></li>
              <li id="link_gateway" title="Gateway" class="child"><%= link_to 'Gateway', [:admin, Gateway.new] -%></li>
              <li id="link_shipping_methods" title="Shipping Methods" class="child"><%= link_to 'Shipping Methods', [:edit, :admin, Store.new] -%></li>
              <li id="link_tax_settings" title="Tax Settings" class="last child"><%= link_to 'Tax Settings', [:edit, :admin, Store.new] -%></li>
            </ul>
          </li>
          <li id="links_manage_categories" class="submenu first-child" title="Manage Categories">
            <%= link_to 'Categories', [:admin, Category.new], :class => "top" -%>
            <ul class="submenu">
              <li id="link_create_category" title="Create New Category" class="first child"><%= link_to 'New', new_admin_category_path -%></li>
              <li id="link_manage_categories" title="Manage Categories" class="last child"><%= link_to 'Manage', [:admin, Category.new] -%></li>
            </ul>
          </li>
          <li id="links_manage_brands" class="submenu" title="Manage Brands">
            <%= link_to 'Brands', [:admin, Brand.new], :class => "top" -%>
            <ul class="submenu">
              <li id="link_create_brand" title="Create New Brand" class="first child"><%= link_to 'New', new_admin_brand_path -%></li>
              <li id="link_manage_brands" title="Manage Brand" class="last child"><%= link_to 'Manage', [:admin, Brand.new] -%></li>
            </ul>
          </li>
          <li id="links_manage_products" class="submenu" title="Manage Products">
            <%= link_to 'Products', [:admin, Product.new], :class => "top" -%>
            <ul class="submenu">
              <li id="link_create_product" title="Create New Product" class="first child"><%= link_to 'New', new_admin_product_path -%></li>
              <li id="link_manage_products" title="Manage Product" class="last child"><%= link_to 'Manage', [:admin, Product.new] -%></li>
            </ul>
          </li>
          <li id="links_manage_product_attributes" class="submenu" title="Manage Product Attributes">
            <%= link_to 'Product Attributes', [:admin, ProductAttribute.new], :class => "top" -%>
            <ul class="submenu">
              <li id="link_create_product_attribute" title="Create New Product Attribute" class="first child"><%= link_to 'New', new_admin_product_attribute_path -%></li>
              <li id="link_manage_product_attributes" title="Manage Product Attributes" class="last child"><%= link_to 'Manage', [:admin, ProductAttribute.new] -%></li>
            </ul>
          </li>
          <li id="links_manage_shipping_methods" class="submenu" title="Manage Shipping Methods">
            <%= link_to 'Shipping Methods', [:admin, ShippingMethod.new], :class => "top" -%>
            <ul class="submenu">
              <li id="link_create_shipping_method" title="Create New Shipping Method" class="first child"><%= link_to 'New', new_admin_shipping_method_path -%></li>
              <li id="link_create_store_country" title="Create New Store Country" class="first child"><%#= link_to 'New', new_admin_shipping_method_path -%></li>
              <li id="link_manage_shipping_methods" title="Manage Shipping Methods" class="last child"><%= link_to 'Manage', [:admin, ShippingMethod.new] -%></li>
            </ul>
          </li>
          <li id="links_manage_blog" class="submenu" title="Manage blog">
            <%= link_to 'Blog', edit_admin_blog_path, :class => "top" -%>
            <ul class="submenu">
              <li id="link_edit_blog" title="Edit blog" class="first child"><%= link_to 'Edit Blog', edit_admin_blog_path -%></li>
              <li id="link_new_post" title="New Post" class="child"><%= link_to 'New Post', new_admin_post_path -%></li>
              <li id="link_manage_posts" title="Manage Posts" class="last child"><%= link_to 'Manage Posts', [:admin, Post.new] -%></li>
            </ul>
          </li>
          <li id="links_manage_pages" class="submenu" title="Manage Pages">
            <%= link_to 'Pages', [:admin, Page.new], :class => "top" -%>
            <ul class="submenu">
              <li id="link_create_page" title="Create New Page" class="first child"><%= link_to 'New', new_admin_page_path -%></li>
              <li id="link_manage_pages" title="Manage Pages" class="last child"><%= link_to 'Manage', [:admin, Page.new] -%></li>
            </ul>
          </li>
          <li id="links_manage_users" class="submenu" title="Manage Users">
            <%= link_to 'Users', [:admin, User.new], :class => "top" -%>
            <ul class="submenu">
              <li id="link_create_user" title="Create New User" class="first child"><%= link_to 'New', new_admin_user_path -%></li>
              <li id="link_manage_users" title="Manage Users" class="last child"><%= link_to 'Manage', [:admin, User.new] -%></li>
            </ul>
          </li>
          <li id="link-logs" class="" title="View system log messages"><%= link_to 'Logs', "#" -%></li>
          <li id="link-logout" class="last-child" title="Log out of the admin interface"><%= link_to 'Logout<span class="hotkey enabled">X</span>', logout_path, :method => :delete -%></li>
        </ul>
      </div>
    </div>
  <div id = "storeInfoMenu">
    <div id = "userInfo">logged in as : <%= link_to current_user.login, "#" -%> (IP address: <%= request.env['REMOTE_ADDR'] -%>)</div>
    <div id = "storeName"><%= link_to @store.display_name, admin_root_path, :id => "site" -%></div>
  </div>
</div>