<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= @meta_title -%></title>
    <meta name="description" content= '<%= @meta_description -%>' />
    <meta name="keywords" content= '<%= @meta_keywords -%>' />
    <%= stylesheet_link_tag 'application', 'sexy_flash' %>
    <%= auto_discovery_link_tag(:rss, :action => 'feed') %>
    <%= javascript_include_tag "application", "jquery", "jquery-ui", "jrails", :cache => true %>
  </head>
  <body id = "body">
    <div id = "wrapper">
      <%= render :partial => 'shared/header' -%>
      <%= sexy_flash :timeout => 2, :duration => 0.1 -%>
      <div id = "container">
        <div id = "leftColumn"><%= render :partial => 'shared/sidebar' -%></div>
        <div id = "rightColumn"><%= yield -%></div>
      </div>
    <%= render :partial => 'shared/footer' -%>
    </div>
  </body>
</html>
